* {
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
#cont {
    box-sizing: border-box;
    margin: 0 auto;
    width: 961px;
    
}

.text {
    width: 100%;
    line-height: 50px;
    padding: 0;
}
.text li {
    font-size: 30px;
    border-bottom: 1px solid black;
    text-align: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}

@media all and (min-width: 320px) {
    #cont {width: 100%;}
    .text li {font-size: 13px; font-weight: bold;}
}
    
@media all and (min-width: 562px) {
    #cont {width: 100%;}
    .text li {font-size: 18px; font-weight: bold;}
}


@media all and (min-width: 768px) {
    #cont {width: 100%;}
    .text li {font-size: 29px; font-weight: bold;}
}
